.about-bg-image {
    background-image: url('./../assets/06_About/pexels-edmond-dantès-8555677_1-min.jpg');
    background-position-x: 50%;
}

.about-banner {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:40%;
}

.body-content .container #nick-summary {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'LTAsusRegular'
}

/* .body-content .about-image{
    background-image: url('./../assets/06_About/Nick-min.jpg');
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-position: top;
    background-repeat: no-repeat;

} */

.body-image #nick-image {
    width: 329px
}

.about-image-name p {
    font-size: 1.5rem;
}

.main-headline .container p {
    font-size: 100%;
    font-family: 'LTAsusRegular'
}

@media screen and (max-width:991px) {
    #nick-summary {
        
    }
}