.class-title-header {
    font-family: 'LTAsusHeavy';
    font-size: 200%;
}

.class-title {
    padding-left:0!important;
    padding-right:0!important;
    padding-bottom:0!important;
}

.student-headshot {
    padding:0!important
}

.headshot {

    border-color: black;
    vertical-align: baseline;
    max-width: 250px;
    border-color:rgb(175, 174, 174);
    border-width: 3px;
    border-style: solid;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; */
}

#row1 #student h4, #row2 #student h4, #row3 #student h4 {
    font-family: 'LTAsusBold';
    margin-bottom: 0!important;
}

#row1 #student p, #row2 #student p, #row3 #student p {
    font-size: 100%;
}

#row1, #row2, #row3 {
    padding: 1px!important;
    padding-top: 2rem!important;
    margin-left:12rem!important;
    margin-right:12rem!important;
}

#row2, #row3 {
    padding-top:2rem!important;
}


#row1 #student, #row2 #student, #row3 #student {
    padding: 3px!important;
}

#student-container {
    max-width: 1600px;
}

#modal-student-school {
    font-family:'LTAsusRegular';

}

.modal-header {
    border-bottom:none!important;
    --bs-btn-close-bg: white!important
}

.modal-content {
    background-color: #182F84!important;
    color: white!important;
    font-size:120%;
}


@media screen and (max-width: 770px) {
    #row1, #row2, #row3 {
        margin-left: 1rem!important;
        margin-right: 1rem!important;
    }
    .headshot {
        max-width: 200px;
    }
}

@media screen and (min-width: 771px) and (max-width: 1026px) {
    #row1, #row2, #row3 {
        margin-left: 5rem!important;
        margin-right: 5rem!important;
    }
}

@media screen and (min-width: 1026px) and (max-width:1281px) {
    #row1, #row2 {
        margin-left: 5rem!important;
        margin-right: 5rem!important;
    }
    #row3 {
        margin-left: 10rem!important;
        margin-right: 10rem!important;
    }
}

@media screen and (min-width: 1538px) {
    #row3 {
        margin-left: 20rem!important;
        margin-right: 20rem!important;
    }
}