.title {
    font-family: 'LTAsusHeavy';
    font-size: 200%;
}

.class-title {
    padding-left:0!important;
    padding-right:0!important;
    padding-bottom:0!important;
}

.student-headshot {
    padding:0!important
}

.headshot {

    border-color: black;
    vertical-align: baseline;
    max-width: 250px;
    border-color:rgb(175, 174, 174);
    border-width: 3px;
    border-style: solid;
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px; */
}

#row1, #row2, #row3 {
    padding: 1px!important;
    padding-top: 2rem!important;
    margin-left:12rem!important;
    margin-right:12rem!important;
}

#row2, #row3 {
    padding-top:2rem!important;
}


#row1 #student, #row2 #student, #row3 #student {
    padding: 3px!important;
}

@media screen and (max-width: 771px) {
    #row1, #row2, #row3 {
        margin-left: 6rem!important;
        margin-right: 6rem!important;
    }
    .headshot {
        max-width: 200px;
    }
}