@font-face {
    font-family: "LTAsusRegular";
    src: local("LTAsusRegular"),
      url("./../fonts/LTAsus/LTAsus-Regular.ttf") format("truetype");
    font-weight: bolder;
}

.highlighted-text {
    color: #CE3939;
}


.left-side h2 {
    font-family: "LTAsusHeavy";
}

.left-side h2, .left-side p {
    color: black;
    text-align: center;
}

.left-side #contactfooter-p {
    font-family: "LTAsusRegular";
}

.container .right-side .body-btn {
    color: white;
    padding: .5rem 3rem;
    background-color: #CE3939;
    border-color: #CE3939;
    --bs-btn-active-bg: #CE3939;
    --bs-btn-active-border-color: #CE3939;
    border-radius: 60px;
    font-family: "LTAsusBold"!important;
    font-size:30px;
}