.donate-bg-image {
    background-image: url('./../assets/05_Donate/IMG_4026.jpg');
}

.donate-banner {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:20%;
    background-position-x:40%;
}

.donate-content {
    color: black;
}