.footer {
    background-color: black;

    width: 100%;
    bottom: 0;
    color: white;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: stretch;
    gap: 3rem;
    padding: 2rem 2rem;
}

.footer ul {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 23px;

}
  
.footer a {
    color: inherit;
    font-weight: 500;
    text-decoration: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.right-side p{
    margin-bottom: 0;
}

.right-side {
    text-align: center;
}

.socials a {
    margin: 5px;
}