.bg-img-1 {
    background-image: url('./../assets/01_Home_page/Carousel/class1_group-min.png');
    background-position-y: 5%;
    background-position-x: 60%;
}

.bg-img-2 {
    background-image: url('./../assets/01_Home_page/Carousel/pexels-christina-morillo-1181605-min.jpg');
    background-position-y: 40%;
    background-position-x: 60%;
}

.bg-img-3 {
    background-image: url('./../assets/01_Home_page/Carousel/cytonn-photography-n95VMLxqM2I-unsplash-min.jpg');
    background-position-y: center;
    background-position-x: center;
}

.carousel-image {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.carousel .carousel-inner .carousel-caption {
    margin-bottom: 80px;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
    display:none!important;
}

.carousel .carousel-inner .carousel-caption h3 {
    font-family: "LTAsusHeavy";
    font-weight: bolder;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}

.carousel .carousel-inner .btn-lg, .row .body-text .body-btn {
    padding: .3rem 2.5rem;
    background-color: #CE3939;
    border-color: #CE3939;
    --bs-btn-active-bg: #CE3939;
    --bs-btn-active-border-color: #CE3939;
    border-radius: 60px;
    font-family: "LTAsusBold"!important;
}

.carousel .carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.carousel .carousel-inner .carousel-caption {
    padding-bottom: 4rem;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .carousel .carousel-control-prev, .carousel .carousel-control-next {
        margin: 0px!important;
    }
    .carousel .carousel-inner .btn-lg, .row .body-text .body-btn {
        font-size: 10px;
        padding: .3rem 1.5rem;
    }
    .carousel .carousel-inner .carousel-caption h3 {
        font-size: 20px;
        margin-bottom: 0!important;
    }
    .carousel-image {
        height: 25vh;
    }
    .carousel .carousel-inner .carousel-caption {
        padding-bottom:0;
        text-align: center;
        margin-bottom:30px;
    }
    .carousel .carousel-indicators button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 4px;
        margin-right: 4px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
    /* .carousel .carousel-inner .btn-lg, .row .body-text .body-btn {
        font-size: 35px;
    } */
    .carousel .carousel-inner .carousel-caption h3 {
        font-size: 40px;
    }
}

@media screen and (min-width: 1401px) {

    .carousel .carousel-control-prev, .carousel .carousel-control-next {
        width: 100px;
    }

    .carousel .carousel-inner .carousel-caption {
        padding: 3rem;
        padding-left: 0;
        text-align: left;
        left: 100px
    }

    .carousel .carousel-inner .carousel-caption h3 {
        font-size: 60px;
    }
}