.main-headline {
    background-color: #CE3939;
    text-align: center;
    color: white;
}

.main-headline h2 {
    margin-bottom: 2rem;
}

.main-headline p {
    font-family: "LTAsusLight"
}

.body-content {
    background-color: #182F84;
    color: white;
}

.body-headline {
    text-align: center;
}

.body-content-item {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.body-text .pt-2 {
    font-family: "LTAsusLight";
    font-size: 1.7rem;
    line-height: 2.0rem;
    text-align:left;
}

@media screen and (max-width: 767px) {
    .body-content-item .col-image {
        display:none!important;
    }

}

@media screen and (max-width: 991px) {
    .body-text .pt-2 {
        font-size: 1.4rem;
    }
}
