.involve-bg-image {
    background-image: url('./../assets/04_Get_Involved/pexels-christina-morillo-1181405-min.jpg');
    background-position-x: 50%;
}

.involve-image1 {
    background-image: url('./../assets/04_Get_Involved/pexels-darlene-alderson-7971229-min.jpg');
}

.involve-image2 {
    background-image: url('./../assets/04_Get_Involved/pexels-diva-plavalaguna-6149784-min.jpg');
    background-position-x:70%;
}

.involve-banner {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:40%;
}

.involve-images {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:40%;
}

.body-content p {
    font-family: "LTAsusLight";
}

#get-involved-btn .apply-btn {
    padding: .3rem 4rem;
    background-color: #CE3939;
    border-color: #CE3939;
    --bs-btn-active-bg: #CE3939;
    --bs-btn-active-border-color: #CE3939;
    border-radius: 60px;
    font-family: "LTAsusBold"!important;
    font-size: 2rem;
}

#get-involved-btn {
    display:flex;
    justify-content: center;
    align-items: center;
}
