.accordion-item {
  /* border: none !important; */
  border-radius: 0 !important;
}

.accordion-button {
  background-color: #cc2323 !important;
  color: #fff !important;
  padding: 5rem !important;
  font-size: x-large !important;
}

.accordion-body {
  padding: 0 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
}
