.font-face-gm {
  font-family: "LTAsusBold";
  color: white;
  font-size:2.5rem;
}

.body-content .container .body-btn {
  padding: .3rem 3rem;
  background-color: #CE3939;
  border-color: #CE3939;
  --bs-btn-active-bg: #CE3939;
  --bs-btn-active-border-color: #CE3939;
  border-radius: 60px;
  font-family: "LTAsusBold"!important;
}

.main-headline div {
  font-size: 24px;
  padding: 4rem;
}

.main-headline div p {
  font-size: 30px;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}

.underlined-title {
  /* Increase this as per requirement */
  font-family: "LTAsusRegular";
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  width: fit-content;
}

