@font-face {
  font-family: "LTAsusBold";
  src: local("LTAsusBold"),
    url("./fonts/LTAsus/LTAsus-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "LTAsusHeavy";
  src: local("LTAsusHeavy"),
    url("./fonts/LTAsus/LTAsus-Heavy.ttf") format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "LTAsusLight";
  src: local("LTAsusLight"),
    url("./fonts/LTAsus/LTAsus-Light.ttf") format("truetype");
  font-weight: bolder;
}

@font-face {
  font-family: "LTAsusRegular";
  src: local("LTAsusRegular"),
    url("./fonts/LTAsus/LTAsus-Regular.ttf") format("truetype");
  font-weight: bolder;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  background-color: #CE3839;
  color: white;
  display: flex;

  align-items: stretch;
  gap: 3rem;
  padding: 0 2rem;
}

.site-logo img {
  width: 120px;
}

.nav .nav-link {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 27px;
}

.navbar-collapse .navbar-nav .nav-link {
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
  display: flex;
  align-items: center;
  padding: .25rem;
}